# Credit Approval Project
The main objective of the project is to create a machine learning model capable of classifying credit card applications based on various attributes.

To get more information of the dataset that is being used, look at: https://archive.ics.uci.edu/ml/datasets/Credit+Approval

In [1]:
# Importing the basic libraries to be used on the project
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearnex import patch_sklearn

# Making the graphics to appear on the cell
%matplotlib inline

# Patching sklearn to get better performance on Intel Processors
patch_sklearn()

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

In [2]:
data = pd.read_csv('data/crx.data')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689 entries, 0 to 688
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   b       689 non-null    object
 1   30.83   689 non-null    object
 2   0       689 non-null    float64
 3   u       689 non-null    object
 4   g       689 non-null    object
 5   w       689 non-null    object
 6   v       689 non-null    object
 7   1.25    689 non-null    float64
 8   t       689 non-null    object
 9   t.1     689 non-null    object
 10  01      689 non-null    int64
 11  f       689 non-null    object
 12  g.1     689 non-null    object
 13  00202   689 non-null    object
 14  0.1     689 non-null    int64
 15  +       689 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.2+ KB

In [3]:
data.head(10)

   b  30.83       0  u  g   w  v   1.25  t t.1  01  f g.1  00202    0.1  +
0  a  58.67   4.460  u  g   q  h  3.040  t   t   6  f   g  00043    560  +
1  a  24.50   0.500  u  g   q  h  1.500  t   f   0  f   g  00280    824  +
2  b  27.83   1.540  u  g   w  v  3.750  t   t   5  t   g  00100      3  +
3  b  20.17   5.625  u  g   w  v  1.710  t   f   0  f   s  00120      0  +
4  b  32.08   4.000  u  g   m  v  2.500  t   f   0  t   g  00360      0  +
5  b  33.17   1.040  u  g   r  h  6.500  t   f   0  t   g  00164  31285  +
6  a  22.92  11.585  u  g  cc  v  0.040  t   f   0  f   g  00080   1349  +
7  b  54.42   0.500  y  p   k  h  3.960  t   f   0  f   g  00180    314  +
8  b  42.50   4.915  y  p   w  v  3.165  t   f   0  t   g  00052   1442  +
9  b  22.08   0.830  u  g   c  h  2.165  f   f   0  t   g  00128      0  +

In [4]:
data.tail(10)

     b  30.83       0  u  g   w   v   1.25  t t.1  01  f g.1  00202  0.1  +
679  b  19.50   0.290  u  g   k   v  0.290  f   f   0  f   g  00280  364  -
680  b  27.83   1.000  y  p   d   h  3.000  f   f   0  f   g  00176  537  -
681  b  17.08   3.290  u  g   i   v  0.335  f   f   0  t   g  00140    2  -
682  b  36.42   0.750  y  p   d   v  0.585  f   f   0  f   g  00240    3  -
683  b  40.58   3.290  u  g   m   v  3.500  f   f   0  t   s  00400    0  -
684  b  21.08  10.085  y  p   e   h  1.250  f   f   0  f   g  00260    0  -
685  a  22.67   0.750  u  g   c   v  2.000  f   t   2  t   g  00200  394  -
686  a  25.25  13.500  y  p  ff  ff  2.000  f   t   1  t   g  00200    1  -
687  b  17.92   0.205  u  g  aa   v  0.040  f   f   0  f   g  00280  750  -
688  b  35.00   3.375  u  g   c   h  8.290  f   f   0  t   g  00000    0  -